:root {
  --theme-dark: #233237;
  --theme-light: #eae3cf;
  --text-light: #fcfcf8;
}
.container {
  display: grid;
  grid-template-areas:
    "logo"
    "about"
    "resume"
    "skills"
    "footer";
  width: 100%;
  text-align: center;
  min-width:330px;
}


.logo_arrow {
margin-top:auto;
}

.titlename {
  margin-top:40vh;
}

#Home {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width:330px;
}

#About {
  height: 50vh;
}

.nav {
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  transition-property: background-color;
  transition-duration: 1s;
}
.nav.solid {
  background-color: black;
}

.nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav li {
  padding: 16px 14px;
}

a {
  color: var(--text-light);
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
}

a:hover {
  color: #8b0000;
}
