$theme-dark: #233237;
$theme-darker: #333333;
$theme-light: #eae3cf;
$text-light: #fcfcf8;
$text-darkgrey: #7A7A7A;
$text-babyblue: #00CCCC;
$text-dark-on-white: #141823;
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$content-padding: 60px;

@mixin sm {
  @media only screen and (max-width:$screen-sm-min) {
    @content;
  }

}

// Medium devices
@mixin md {
  @media only screen and (max-width:$screen-md-min) {
    @content;
  }

}

body {
  font-family: $sans-serif;
  font-weight: $light;
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: $text-light;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas: "logo"
  "about"
  "resume"
  "skills"
  "footer";
  width: 100%;
  text-align: center;
  min-width: 330px;
}

.sidebar {
  display: flex;
  flex-align: flex-start;
  justify-content: center;
}

#Home {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 330px;

  & .social {
    list-style-type: none;

    li {
      display: inline;
      margin-right: 5px;
      margin-left: 5px;
    }

  }

  & .fa-chevron-circle-down {
    margin-bottom: $content-padding;
  }

  & .fa {
    transition-property: color;
    transition-duration: 1s;
  }

  & .fa:hover {
    color: $text-babyblue;
  }

  & h1 {
    font-size: 350%;
    color: $text-light;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 20px;
  }

  & p {
    color: $text-light;
    text-shadow: 1px 1px 5px black;
    font-size: 120%;
    margin-bottom: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  & i {
    color: $text-light;
  }

  .logo_arrow {
    margin-top: auto;
  }

  .titlename {
    margin-top: 40vh;
    width: 100%;
    height: 100%;
  }

}

#About {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: $theme-dark;
  padding: $content-padding;

  @include md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profilepic {
    margin-left: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;

    @include md {
      margin: 0px;
    }

  }

  .content {
    margin-left: $content-padding;

    @include md {
      margin-top: 30px;
      margin-left: 0;
    }

    h2 {
      text-align: left;
      color: $text-light;
      font-size: 200%;
      margin-bottom: 20px;
      text-shadow: 1px 1px 5px black;

      @include md {
        max-width: 400px;
      }

    }

    p {
      text-align: justify;
      color: $text-darkgrey;
      margin-bottom: 20px;
      max-width: 700px;

      @include md {
        max-width: 400px;
      }

    }

    a {
      color: $text-light;
    }

  }

}

#Resume {
  display: flex;
  flex-direction: column;
  padding: $content-padding;
  color: $text-dark-on-white;
}

.resume-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;

  @include md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebarheader {
    margin-left: auto;
  }

  .sidebar h2 {
    font-size: 120%;
    font-weight: $bold;
    border-bottom: 5px solid;
    border-bottom-color: $text-babyblue;
  }

  .content {
    margin-left: $content-padding;

    @include md {
      margin-top: 30px;
      margin-left: 0;
    }

    h2 {
      text-align: left;
      font-size: 150%;
      margin-bottom: 20px;
      font-weight: $bold;

      @include md {
        max-width: 400px;
      }

    }

    p {
      text-align: justify;
      margin-bottom: 20px;
      max-width: 700px;

      @include md {
        max-width: 400px;
      }

    }

  }

}

#Skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $theme-dark;
  padding: $content-padding;
  color: $text-light;

  @include md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .circular-progress {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sidebarheader {
    margin-left: auto;
  }

  .sidebar h2 {
    font-size: 120%;
    font-weight: $bold;
    border-bottom: 5px solid;
    border-bottom-color: $text-babyblue;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: $content-padding;

    .progress-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    @include md {
      margin-top: 30px;
      max-width: 400px;
      margin-left: 0;
    }

    h2 {
      text-align: left;
      color: $text-light;
      font-size: 200%;
      margin-bottom: 20px;
      text-shadow: 1px 1px 5px black;

      @include md {
        max-width: 400px;
      }

    }

    p {
      text-align: justify;
      color: $text-darkgrey;
      margin-bottom: 20px;
      max-width: 700px;

      @include md {
        max-width: 400px;
      }

    }

    a {
      color: $text-light;
    }

  }

}

#Navigation {
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  transition-property: background-color;
  transition-duration: 1s;

  & a {
    transition-property: color;
    transition-duration: 1s;
  }

  & a:active {
    color: $text-babyblue;
  }

  & a:hover {
    color: $text-babyblue;
  }

  &.solid {
    background-color: $theme-darker;
  }

  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  & li {
    padding: 16px 14px;
  }

}
